@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="slider">
        <div class="slider-item">
            <div class="first-slide-text">
                <span>Ваши фотографии из любимых</span>
                <span> парков развлечений</span>
            </div>
        </div>
        <div class="slider-item">
            <div class="second-slide-text">
                <span>Аквапарков</span>
            </div>
        </div>
        <div class="slider-item">
            <span class="third-slide-text">Концертов и публичных мероприятий</span>
        </div>
    </div>
    <div class="how-it-works">
        <div class="description">
            <span>Как это работает?</span>
        </div>
        <div class="how-it-works-items-container">
            <div class="ellipse" style="margin-right: -5px;">
                <span>1</span>
            </div>
            <div class="how-it-works-items">
                <div class="how-it-works-item">
                    <p>Вы отдыхаете<br /> в парке</p>
                </div>
                <span class="line"></span>
                <div class="how-it-works-item">
                    <p>Мы вас<br /> фотографируем</p>
                </div>
            </div>
            <div class="how-it-works-items">
                <div class="how-it-works-item">
                    <p>Вы загружаете на сайт<br /> свое селфи</p>
                </div>
                <span class="line"></span>
                <div class="how-it-works-item">
                    <p>Мы находим ваши<br /> фотографии</p>
                </div>
            </div>
            <div class="ellipse" style="margin-left: -5px;">
                <span>2</span>
            </div>
            <br class="br">
            <div class="ellipse" style="margin-right: -5px;">
                <span>3</span>
            </div>
            <div class="how-it-works-items">
                <div class="how-it-works-item">
                    <p>Вы оплачиваете<br /> понравившиеся фотографии</p>
                </div>
                <span class="line"></span>
                <div class="how-it-works-item">
                    <p>Мы отправляем их на<br /> вашу почту</p>
                </div>
            </div>
            <div class="how-it-works-items">
                <div class="how-it-works-item">
                    <p>Вы наслаждаетесь<br /> воспоминаниями</p>
                </div>
                <span class="line"></span>
                <div class="how-it-works-item">
                    <p>Мы благодарим вас<br /> и ждем снова</p>
                </div>
            </div>
            <div class="ellipse" style="margin-left: -5px;">
                <span>4</span>
            </div>
        </div>
    </div>
    <div class="about-block">
        <div class="about-text">
            <p>Наш проект был создан для того, чтобы помочь вам с легкостью найти ваши фотографии в любимом парке развлечений.</p>
            <p>Больше никакой траты времени на покупку фотографий во время отдыха. Просто загрузите ваше селфи и наш сервис покажет ваши фотографии.</p>
            <p>Благодаря технологии нейронных сетей сервис определяет ключевые параметры вашего лица и находит ваши фотографии среди фотографий других людей.</p>
        </div>
        <div class="about-img"></div>
    </div>
    <div class="try-it-block">
        <span class="heading">Вы недавно посетили парк развлечений?</span>
        <div class="description">
            <p>Тогда мы предлагаем вам попробовать наш проект в действии!</p>
            <p>Просто загрузите качественное фронтальное селфи и мы найдем ваши фотографии!</p>
        </div>
        <div class="try-it-button">
            <a href="/Service/Search">
                <span>Найти себя</span>
            </a>
        </div>
    </div>
</div>