
@{
    ViewBag.Title = "UserAgreement";
}
<div class="container">
    <div class="agreement-block">
        <strong>Пользовательское соглашение</strong>
    </div>
    <div class="agreement-block-container">
        <span>1. Общие условия</span>
        <p>1.1. Настоящее Соглашение регулирует отношения между администрацией сайта (далее – Администрация сайта) и Пользователем данного Сайта по использованию Пользователями материалов, сервисов и услуг сайта www.takepic.by (далее — Сайт).</p>
        <p>1.2. Настоящее Соглашение является публичной офертой. Зарегистрировавшись и/или авторизовавшись на Сайте, Пользователь считается присоединившимся к настоящему Соглашению.</p>
        <p>1.3. Условия настоящего Соглашения также применимы к следующим документам Сайта:</p>
        <p>1.3.1. Защита персональных данных;</p>
        <p>1.3.2. Правила оформления и исполнения заказа на оказываемую посредством сайта услугу;</p>
        <p>1.4. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения без предварительного уведомления Пользователя. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями Пользователь обязан отказаться от доступа к Сайту, прекратить использование материалов, сервисов и услуг Сайта. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в Соглашении. Ответственность за проверку настоящего Соглашения на наличие изменений в нем несет Пользователь.</p>
        <p>г. Минск, ул 1.5. Правообладателем Сайта является Общество с ограниченной ответственностью «ТэйкПик» (ООО «ТэйкПик», адрес: 222304, Республика Беларусь, г. Молодечно, ул. Дроздовича, 10/5). Содержание Сайта защищено законодательством об интеллектуальной собственности и иными нормами права.</p>
        <p>1.6. Доступ к Сайту осуществляется на бесплатной основе.</p>
        <p>1.7. Сайт предоставляет Пользователю платный сервис по поиску фотографического контента с использованием технологий нейронной сети и идентификации Пользователя по его фотографии. Платный сервис регулируется Правилами оформления и исполнения заказа на оказываемую посредством сайта услугу. Дополнительными бесплатными сервисами и услугами Сайта являются:</p>
        <p>1.7.1. регистрация и/или авторизация на Сайте;</p>
        <p>1.7.2. доступ к средствам поиска и навигации Сайта;</p>
        <p>1.7.3. предоставление Пользователю возможности размещения сообщений, комментариев, выставления оценок Сайту;</p>
        <p>1.7.4. доступ к информации об услугах ООО «ТэйкПик»;</p>
        <p>1.7.5. иные виды услуг (сервисов), реализуемые на страницах Сайта.</p>
        <p>1.8. Использование платных функциональных возможностей Сайта допускается только после прохождения Пользователем регистрации или авторизации на Сайте в соответствии с установленной Администрацией процедурой.</p>
        <p>1.9. Любые материалы, размещенные на Сайте, являются объектами интеллектуальной собственности. Права на указанные материалы охраняются законодательством.</p>
        <p>1.10. Администрация Сайта не осуществляет предварительной проверки на соответствие законодательству размещенных на Сайте сообщений Пользователя (премодерации).</p>
        <span>2. Термины и определения</span>
        <p>2.1. Для целей настоящего Соглашения используются термины:</p>
        <p>2.1.1. Администрация Сайта – уполномоченные лица ООО «ТэйкПик» на управление Сайтом.</p>
        <p>2.1.2. Пользователь Сайта (далее - Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт. Пользователями могут быть субъекты гражданских правоотношений: дееспособные физические лица, юридические лица, а также иные субъекты гражданско-правовых отношений.</p>
        <p>2.1.3. Услуга - платный сервис Сайта по поиску фотографического контента с использованием технологий нейронной сети и идентификации Пользователя по его фотографии.</p>
        <span>3. Права и обязанности</span>
        <span>Права Пользователя</span>
        <p>3.1. Правомерно пользоваться Сайтом и Услугой Сайта.</p>
        <p>3.2. Задавать любые вопросы, относящиеся к Услуге Сайта по реквизитам, которые находятся в соответствующем разделе Сайта.</p>
        <span>Обязанности Пользователя</span>
        <p>3.3. Использовать материалы, размещенные на Сайте, и сервисы Сайта, не нарушая норм Соглашения, а также норм законодательства Республики Беларусь и международного права.</p>
        <p>3.4. Не нарушать требования законодательства и общепринятые нормы морали и нравственности в комментариях и иных записях Пользователя на Сайте.</p>
        <p>3.5. Не распространять посредством Сайта конфиденциальную и охраняемую законодательством информацию об иных лицах.</p>
        <p>3.6. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</p>
        <p>3.7. Не распространять рекламу.</p>
        <p>3.8. Не нарушать права третьих лиц, фото которых случайным образом попали Пользователю по его запросу в ходе оказания Услуги.</p>
        <span>Права Администрации Сайта</span>
        <p>3.9. Любым способом реализовывать свои гражданские права на Сайт без получения согласия третьих лиц, в том числе без согласия иных лиц изменять содержание Сайта.</p>
        <p>3.10. Блокировать аккаунт Пользователя в случае нарушения Пользователем Соглашения и норм законодательства Республики Беларусь, а также предпринимать иные меры, предусмотренные действующим законодательством.</p>
        <p>3.11. В одностороннем порядке отказаться от Соглашения в случае существенного либо неоднократного (два и более раза в течение месяца) нарушения Пользователем норм Соглашения либо нарушения Пользователем норм действующего законодательства.</p>
        <p>3.12. В случае наличия каких-либо претензий от Пользователя запрашивать от Пользователя необходимые сведения, в том числе личные идентификационные, для разрешения сложившейся ситуации. Администрация Сайта вправе вести запись разговоров с Пользователем.</p>
        <span>Обязанности Администрации Сайта</span>
        <p>3.13. При реализации услуг и сервисов Сайта не нарушать права Пользователя, включая имущественные и личные неимущественные права.</p>
        <p>3.14. В случае обнаружения нарушения прав Пользователя со стороны третьих лиц требовать прекращения нарушения от таких третьих лиц и предупреждать о негативных правовых последствиях таких нарушений.</p>
        <span>4. Защита персональных данных Пользователя и прав на изображение</span>
        <p>4.1. Администрация Сайта принимает меры по защите полученных персональных данных Пользователя от разглашения.</p>
        <p>4.2. Защита полученных персональных данных Пользователя от разглашения осуществляется в соответствии с требованиями законодательства и документа Сайта Защита персональных данных.</p>
        <p>4.3. Администрация Сайта пользуется как собственными техническими сервисами, так и сторонними для оказания Услуги. В настоящее время любые технические сервисы по распознаванию лица имеют вероятностный характер получения запрашиваемого Пользователем фото с собственным изображением. Пользователь оповещен, что сервис Сайта по распознаванию лиц имеет технически допустимую математическую вероятность ошибочного распознавания лица. Вероятность получения запрашиваемого фото Пользователя зависит от конкретных условий съемки, включая освещенность, угол съемки, условий получения селфи-фото и некоторых иных технических параметров. В процессе пользования Услугой Пользователь может случайно обнаружить на запрашиваемых им фото с собственным изображением фото иных лиц, не относящихся к запросу Пользователя. Такое может произойти вследствие допустимой технической ошибки. В таких случаях Пользователь не вправе без согласия иного отображенного лица распространять фото иного лица либо иным образом нарушать права гражданина на изображение.</p>
        <span>5. Ответственность</span>
        <p>5.1. Администрация сайта не несет ответственности за задержки, сбои в работе Сайта, включая возникшие в ходе совершения платежных операций, а также за работу платежных сервисов сторонних организаций, возникшие вследствие действия непреодолимой силы, а также в иных случаях любых технических неполадок в телекоммуникационных, компьютерных или иных системах.</p>
        <p>5.2. Администрация Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте.</p>
        <p>5.3. Ответственность за размещение на Сайте информации, нарушающей требования законодательства Республики Беларусь и международных договоров, а также общепринятые нормы морали и нравственности, включая распространение недостоверной информации, порочащей честь, достоинство или деловую репутацию третьего лица, несет лицо, их разместившее.</p>
        <p>5.4. Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.</p>
        <span>6. Прочие условия</span>
        <p>6.1. Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.</p>
        <p>6.2. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Республики Беларусь. Направление претензии стороне отношений в досудебном порядке разрешения спора обязательно. Срок ответа на претензию – 30 дней. Территориальная подсудность – место нахождения ООО «ТэйкПик», за исключением императивных предписаний, содержащихся в законодательстве. Язык общения – русский либо белорусский.</p>
        <p>6.3. Признание судом какого-либо положения Соглашения недействительным не влечет недействительности иных положений Соглашения.</p>
    </div>
</div>

